---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="ページが存在しません"
  description="お探しのページは見つかりませんでした。"
  thumbnail="/img/jordan-madrid-iDzKdNI7Qgc-unsplash.jpg"
>
  <div class="h-screen bg-[url('/img/jordan-madrid-iDzKdNI7Qgc-unsplash.jpg')] bg-cover">
    <div class="flex items-center w-full h-full justify-right backdrop-blur">
      <h1 class="m-12 mb-4 text-3xl font-bold text-green-800">ページが存在しません。</h1>
    </div>
  </div>
</Layout>
