---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="プロジェクト"
  description="プロジェクト一覧"
  thumbnail="/img/scott-graham-5fNmWej4tAA-unsplash.jpg"
>
  <div class="mx-8 my-4 mt-16">
    <h1 class="mb-4 text-3xl font-bold">プロジェクト</h1>
    <div class="cardParent">
      <div class="p-4 card">
        <h1 class="text-2xl font-semibold">プロジェクト名</h1>
        <p class="text-lg">テキスト</p>
      </div>
    </div>
  </div>
</Layout>
