<footer class="grid grid-cols-1 gap-4 px-8 py-4 border-t border-gray-800 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
  <div class="col-span-1 row-span-2 sm:col-span-1 md:col-span-1 sm:row-span-4 lg:col-span-2 lg:row-span-1">
    <ul class="text-xl">
      <li>
        <a href="/socialmedia" class="inline-block animate-rubber-band animate-iteration-infinite">フォローする</a>
      </li>
    </ul>
  </div>
  <div class="col-span-1">
    <h1 class="text-xl">About</h1>
    <ul class="mt-2">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/socialmedia">ソーシャルメディア</a>
      </li>
    </ul>
  </div>
  <div class="col-span-1">
    <h1 class="text-xl">プロジェクト</h1>
    <ul class="mt-2">
      <li>
        <a href="/projects">プロジェクト</a>
      </li>
    </ul>
  </div>
  <div class="col-span-1">
    <h1 class="text-xl">ブログ</h1>
    <ul class="mt-2">
      <li>
        <a href="/blog">ブログ</a>
      </li>
      <li>
        <a href="/rss.xml">RSS</a>
      </li>
    </ul>
  </div>
  <div class="col-span-1">
    <h1 class="text-xl">リーガル</h1>
    <ul class="mt-2">
      <li>
        <a href="/tos">利用規約</a>
      </li>
      <li>
        <a href="/privacy">プライバシーポリシー</a>
      </li>
    </ul>
  </div>
  <div class="col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-4">
    <p>MIT License &copy; 2024 </p>
  </div>
  <div class="col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-2"></div>
</footer>
